# Map historical commit identities to the canonical one.
# Format: Proper Name <proper@email> Commit Name <commit@email>
SarahAnnTolsma <sarah@bot2k3.net> empereaux <sarah.tolsma@billgo.com>
SarahAnnTolsma <sarah@bot2k3.net> Sarah Ann Tolsma <sarah.tolsma@billgo.com>
SarahAnnTolsma <sarah@bot2k3.net> SarahAnnTolsma <SarahAnnTolsma@users.noreply.github.com>
